li{
    display: inline;
}



header{
    text-align: center;
    background-image: url(images/vecteezy_orange-abstract-background-suitable-for-banner-website-or_18903633.jpg);
    background-repeat:repeat;
    background-position: center;
    background-size: contain;
    height: 180px;
    width:  100%;
    margin: 0px;
    padding: 0px;

}

h1{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 3em;
    text-shadow: 6px 6px 6px black;

}

body{
    padding: 0%;
    margin: 0%;
    text-align: center;
}

a{
    margin: 5px;
    padding: 7px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(157, 64, 64);
    color: aliceblue;
    border-style:solid;
    border-radius: 10px;
    border-color: rgb(22, 14, 3);
    border-width: 3px;
    text-shadow: 6px 6px 6px black;
}

form{
    text-align: center;
    background-image: url(images/25119.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    text-align: center;
}

.bg{
    background-image: url(images/annie-spratt-6a3nqQ1YwBw-unsplash.jpg);
    background-size: cover;


}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;

}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 6px 6px 6px black;

}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    text-shadow: 6px 6px 6px black;

}


.black{
    background-color: black;
}

footer{
    background-image: url(images/vecteezy_orange-abstract-background-suitable-for-banner-website-or_18903633.jpg);
    background-position: top;
    background-size: cover;
}

th{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: #ffffff;
    text-shadow: 6px 6px 6px black;
}
td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    color: #ffffff;
    text-shadow: 6px 6px 6px black;
}


